* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

main {
  width: 1140px;
  margin: auto;
}

header {
  height: 130px;
  display: flex;
  border-bottom: 1px solid #55710f;
}

/* 로고 영역 */
header > section:nth-child(1) {
  flex-basis: 20%;

  border-right: 1px solid #55710f;
  display: flex;
  justify-content: center;
  align-items: center;
}

#home-logo {
  width: 120px;
  height: 100px;
}

/* 검색영역 */
header > section:nth-child(2) {
  flex-basis: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-area {
  width: 500px;
}

.search-area fieldset {
  padding: 2px;
  margin: 0;
  border: 2px solid #55710f;
  border-radius: 20px;

  display: flex;
}

#query {
  padding: 10px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 20px;

  border: none;
  outline: none;
  width: 92%;
}

#search-btn {
  width: 8%;
  cursor: pointer;
  font-size: 1.2em;
  color: #55710f;
  background-color: transparent;
  border: 0;
}

/* 로그인 회원가입 영역 */
header > section:nth-of-type(3) {
  flex-basis: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#login {
  padding-right: 10px;
  text-decoration: none;
  color: #55710f;
}

#signup {
  text-decoration: none;
  border: 6px solid #55710f;
  border-radius: 25px;
  background-color: #55710f;
  color: white;
}

/* 큰 바디부분 */

.body {
  display: flex;
}

.left-body {
  flex-basis: 19%;
  border-right: 1px solid #55710f;
  flex-direction: column;
}

.left-body article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
}

.left-body a {
  color: #55710f;
  text-decoration: none;
}

nav > ul {
  display: flex;
  color: #55710f;
  flex-direction: column;
  list-style: none;
}

nav li:first-of-type {
  border-top: 1px solid #55710f;
}

nav li {
  border-bottom: 1px solid #55710f;
  height: 40px;
  padding-top: 8px;
}


nav a {
  color: #55710f;
  text-decoration: none;
}

nav ul li table td{
  color: white;

}

.right-body {
  flex-basis: 71%;
}

/* ************ 지도 API SECTION 가급적 건들지 말아주세요 ㅠㅠㅠ ************* */
.container{
  width: 400px;
  height: 300px;
}

.container div{
  border: 1px solid black;
}

 .info{
  height: 60px;
}

.info{
  display: flex;
}

.title{
  flex-basis: 94%;
}

.close{
  flex-basis: 6%;
}

.nav-section{
  display: flex;
}

.left{
  flex-basis: 50%;
}

.right{
  text-align: end;
  flex-basis:50%;
}
.left a:nth-child(1){
  font-size: 12px;
}
.left a:nth-child(2){
  font-size: 12px;
}
.left a:nth-child(3){
  font-size: 12px;
}

.right > span:first-child{
  font-size: 12px;
}

.right > span:last-child{
  font-size: 12px;
}

.main{
  display: flex;
  height: 212px;
}

.main >div:nth-child(1){
  flex-basis: 15%;
}

.main >div:nth-child(2){
  flex-basis: 70%;
}

.main >div:nth-child(3){
  flex-basis: 15%;
}

.main-content > div:first-child{
  height: 20%;
  justify-content: left;
 
}

.main-content > div:last-child{
  height: 80%;

}

.main-content > div p:first-child{
  margin-top: 6px;
}

/* 커스텀 오버레이 스타일링 */
.overlay {
  position: relative;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 6px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  font-size: 14px;
  width: 200px;
  height: 100px;
  padding: 10px;
}

.overlay .overlay_close {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
}

.overlay .overlay_content {
  margin-top: 20px;
}

.customoverlay {
  position:relative;
  bottom:45px;
  border-radius:6px;
  border:1px solid black;
  border-bottom:none;
  background:#fff;
  width:200px;
  padding:5px;

}
.customoverlay:before {
  content:"";
  display:block;
  position:absolute;
  left:50%;
  bottom:-9px;
  width:0;
  height:0;
  margin-left:-9px;
  border-top:10px solid #ccc;
  border-right:10px solid transparent;
  border-left:10px solid transparent;
}

.customoverlay .overlaybody {
  padding:10px;
}
.customoverlay .btn-close {
  position:absolute;
  top:5px;
  right:5px;
  color:#888;
  font-size:14px;
  text-decoration:none;
}

/* ************여기까지 지도 API SECTION 가급적 건들지 말아주세요 ㅠ퓨ㅠ**************/


.hashtag {
  display: flex;
}

.hashtag ul {
  display: flex;
  list-style: none;
}

.right-body article:first-of-type {
  color: black;
  justify-content: center;
}

.hashtag a {
  padding-right: 40px;
  color: black;
  text-decoration: none;
  font-weight: bold;
}

footer {
  background-color: #d0d3c6;
  height: 150px;
  justify-content: center;
  align-content: center;
  text-align: center;
  padding-top: 30px;
}

footer p {
  font-weight: bold;
}
footer a {
  text-decoration: none;
  color: black;
}
